---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rafli Surya Pratama - Software Engineer">
	<main class="relative bg-gray-950 w-full min-h-screen overflow-hidden">
		<div class="max-w-screen-xl h-screen mx-auto flex flex-col items-center justify-center text-center">
			<svg class="w-24 sm:w-32 lg:w-44 h-24 sm:h-32 lg:h-44 text-gray-950 mb-4 lg:mb-8" width="128" height="128" viewBox="0 0 128 128" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect width="128" height="128" rx="64" fill="currentColor"/>
				<path d="M82.7 88.35C80.1667 88.35 77.9667 87.7833 76.1 86.65C74.2333 85.45 72.8 83.8167 71.8 81.75C70.8 79.6167 70.3 77.1833 70.3 74.45V42.05H79V72.95C79 75.4167 79.4333 77.2167 80.3 78.35C81.2333 79.4167 82.5 79.95 84.1 79.95C85.3667 79.95 86.6333 79.6167 87.9 78.95C89.1667 78.2833 90.2333 77.2167 91.1 75.75L93.8 82.95C92.6667 84.4833 91.1333 85.7833 89.2 86.85C87.2667 87.85 85.1 88.35 82.7 88.35ZM54 87.25H45.3V42.05H54V87.25ZM89.9 45.65H35.5V38.85H89.9V45.65Z" fill="#F7F7F8"/>
			</svg>
			<div class="relative z-5 max-w-5xl">
				<h1 class="font-cabinet-grotesk text-4xl sm:text-7xl md:text-8xl lg:text-9xl leading-tight font-bold text-white mb-4 lg:mb-8">
					This page is under development
				</h1>
				<p class="font-satoshi text-xl md:text-3xl lg:text-4xl font-medium text-gray-100">Soon I promise</p>
			</div>
		</div>
	</main>
</Layout>

<style>
</style>
